# gomake build
./dist
./dist-tools

# manual go build
./becloudless

# nixos build
./nixos/result

# Generated go source files
./pkg/generated

tests/basic/embedded
tests/basic/repository/nixos/result
tests/basic/repository/nixos/flake.lock
tests/*/version
tests/*/lock
tests/basic/repository/nixos/result
tests/work/
tests/new/
