apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: 39.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
  install:
    crds: CreateReplace
  upgrade:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  values:
    global:
      checkNewVersion: false
      sendAnonymousUsage: false

    providers:
      kubernetesCRD:
        allowExternalNameServices: true
        allowCrossNamespace: true # TODO should not do cross references ?

    ports:
      web:
        redirections:
          entryPoint:
            scheme: https
            to: websecure
            permanent: true

    deployment:
#      kind: DaemonSet
      replicas: 1

#    service:
#      spec:
#        loadBalancerIP: 192.168.31.0

    #ingressRoute:
    #  dashboard:
    #    enabled: true
