---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: kubernetes
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: HostSNI(`kube.awired.net`)
    services:
    - name: kubernetes
      port: 443
  tls:
    passthrough: true
