# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: BeCloudLess

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ] #, macos-latest
    permissions:
      contents: write


    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # whole repo

      - name: Check for changes in nixos or pkg
        id: changes
        run: |
          set -x 
          mainHash=$(git rev-parse origin/main)          
          if git diff --name-only $mainHash ${{ github.sha }} | grep -Eq '^(nixos/|pkg/|tests/)'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU
        if: steps.changes.outputs.changed == 'true'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: prepare macos
        if: steps.changes.outputs.changed == 'true' && matrix.os == 'macos-latest'
        run: |
          brew install go

      - name: prepare ubuntu
        if: steps.changes.outputs.changed == 'true' && matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install qemu-system qemu-utils -y

#      # https://github.com/marketplace/actions/nix-quick-install
#      # https://github.com/marketplace/actions/install-nix
#      - uses: nixbuild/nix-quick-install-action@v31
##      - name: prepare
##        run: |
##          sh <(curl -L https://nixos.org/nix/install) --yes
#      nix-channel --add https://nixos.org/channels/nixpkgs-unstable
#      nix-channel --add https://nixos.org/channels/nixos-23.11 nixpkgs
#      nix-channel --update

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        if: steps.changes.outputs.changed == 'true'
        with:
          nix_path: nixpkgs=channel:nixos-25.05


      - name: test nixos
        if: steps.changes.outputs.changed == 'true'
        run: |
          bash -x ./test.sh
